<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FilesNamesExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <FilesNamesExtractor.Properties.Settings>
            <setting name="RL_Core_Interop_RLDataServiceWSE_RLDataService"
                serializeAs="String">
                <value>https://retaillink.wal-mart.com/DataService2003/RLDataService.asmx</value>
            </setting>
            <setting name="RL_Test_RLDataServiceWSE_RLDataService" serializeAs="String">
                <value>https://retaillink.wal-mart.com/DataService/RLDataService.asmx</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>Data Source=wmgxsqlp01-zw1.cloud-pg.com\WMGXSQLP01-zw1;Initial Catalog=WGDS_Master;Integrated Security=True</value>
            </setting>
        </FilesNamesExtractor.Properties.Settings>
    </applicationSettings>
</configuration>